/auto-save-list/
/elpaca/
/lisp/
/var/
/etc/
/eln-cache/
/elpa/
/straight/
/pre-init.el
/post-init.el
/pre-early-init.el
/post-early-init.el
/easysession
/transient
/custom.el
/history
/recentf
/saveplace
