/auto-save-list/
/custom.el
/easysession
/eln-cache/
/elpa/
/elpaca/
/etc/
/history
/ielm-history.eld
/lisp/
/post-early-init*.el
/post-init.el
/pre-early-init*.el
/pre-init.el
/projectile-bookmarks.eld
/recentf
/saveplace
/tramp
/straight/
/themes/
/transient/
/tree-sitter/
/undo-fu-session/
/var/
/bookmarks
/bookmarks
/ido.last
/autosave/
/url/
